#playingcard {
    border-color: #18206f;
    border-width: 3px;
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}


#navbar-brand {
font-family: gin, serif;

font-weight: 400;

font-style: normal;

font-size: 2.4rem !important;
}

#whatIs h1 {
    font-family: tablet-gothic, sans-serif;

    font-weight: 800;
    
    font-style: normal;

    color: #F1E9DE;

    margin-bottom: 2.1875rem;
}

#whatIs p {
    font-family: tablet-gothic, sans-serif;

    font-weight: 400;

    font-style: normal;

    color: white;

    font-size: 1.2rem;
}

#whatIs {
    background-color: #232935;

    padding-bottom: 0.5rem;
}

#whatIs .btn {
    margin-left: 1rem;
    margin-right: 1rem;
}

.btn.btn-play, #nextCard, #startGame {
    color: white !important;
    background: #B5854B !important;
    border-color: #866236 !important;
    box-shadow: inset 0 -4px 0 0 #866236;
}

.btn.btn-info {
    background: white !important;
    border-color: black !important;
    box-shadow: inset 0 -4px 0 0 #E0E0E0;
    color: black;
}

.btn.btn-play:hover, #nextCard:hover, #startGame:hover{
    box-shadow: inset 0 -4px 0 0 #563F24;
}

.btn.btn-info:hover {
    color: black;
    box-shadow: inset 0 -4px 0 0 #8F8F8F;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
  }

#rules h1 {
    font-family: tablet-gothic, sans-serif;

    font-weight: 800;
    
    font-style: normal;

    color: #B5854B;

    margin-top: 1rem;
    margin-bottom: 2.1875rem;
}

#rules p {
    font-family: tablet-gothic, sans-serif;

    font-weight: 400;

    font-style: normal;

    font-size: 1.2rem;
}

#rules {
    background-color: #EEE5D4;
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

#whatIs p.smaller {
    font-size: 0.5rem;
}

.jumbotron.jumbotron-fluid.welcome {
    background-color: #95313C;
    color: #F1E9DE;
    margin-bottom: none;
}

h1.display-4 {
    font-family: tablet-gothic, sans-serif;

    font-weight: 800;
    
    font-style: normal;
}

p.lead {
    font-family: tablet-gothic, sans-serif;

    font-weight: 400;

    font-style: normal;

    font-size: 1.2rem;
}

#welcome {
    margin-bottom: -5rem;
}

#firstgame {
    padding-top: 0.5rem;
    background-color: #232935;

    padding-bottom: 0.5rem;

    color: #F1E9DE;
}

#newgirl {
    background-color: #F1E9DE;

}

.footer {
    font-family: tablet-gothic, sans-serif;

    font-weight: 400;

    font-style: normal;
}

.card-title{
    /* font-family: tablet-gothic, sans-serif;

    font-weight: 800;

    font-style: normal; */
    font-family: gin, serif;

font-weight: 400;

font-style: normal;

font-size: 1.5rem;
}

.card-body {
    font-family: tablet-gothic, sans-serif;

    font-weight: 400;

    font-style: normal;
}

#play.h1 {
    font-family: tablet-gothic, sans-serif;

    font-weight: 800;

    font-style: normal;
}